USE [master]
GO
/****** Object:  Database [Zshop]    Script Date: 2/28/2022 10:20:25 PM ******/
CREATE DATABASE [Zshop]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'zshop', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\zshop.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'zshop_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\zshop_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Zshop].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Zshop]
GO
/****** Object:  Table [dbo].[Category]    Script Date: 2/28/2022 10:20:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Category](
	[CID] [nvarchar](30) NOT NULL,
	[CName] [nvarchar](200) NULL,
PRIMARY KEY CLUSTERED 
(
	[CID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Category_Group]    Script Date: 2/28/2022 10:20:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Category_Group](
	[CGID] [nvarchar](30) NOT NULL,
	[CGName] [nvarchar](200) NULL,
	[CID] [nvarchar](30) NULL,
 CONSTRAINT [PK__Category__F4E9B795D6873CB0] PRIMARY KEY CLUSTERED 
(
	[CGID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ImageProduct]    Script Date: 2/28/2022 10:20:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ImageProduct](
	[CGID] [nvarchar](30) NULL,
	[URLImage] [nvarchar](300) NOT NULL,
 CONSTRAINT [PK_ImageProduct] PRIMARY KEY CLUSTERED 
(
	[URLImage] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Products]    Script Date: 2/28/2022 10:20:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Products](
	[ProductID] [nvarchar](30) NOT NULL,
	[ProductName] [nvarchar](200) NULL,
	[ProductPrice] [nvarchar](100) NULL,
	[Storage] [nvarchar](10) NULL,
	[CGID] [nvarchar](30) NULL,
 CONSTRAINT [PK__Category__19093A2B07C8F765] PRIMARY KEY CLUSTERED 
(
	[ProductID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Category_Group]  WITH CHECK ADD  CONSTRAINT [FK__Category_Gr__CID__2A4B4B5E] FOREIGN KEY([CID])
REFERENCES [dbo].[Category] ([CID])
GO
ALTER TABLE [dbo].[Category_Group] CHECK CONSTRAINT [FK__Category_Gr__CID__2A4B4B5E]
GO
ALTER TABLE [dbo].[Products]  WITH CHECK ADD  CONSTRAINT [FK__Products__CGID__35BCFE0A] FOREIGN KEY([CGID])
REFERENCES [dbo].[Category_Group] ([CGID])
GO
ALTER TABLE [dbo].[Products] CHECK CONSTRAINT [FK__Products__CGID__35BCFE0A]
GO
USE [master]
GO
