

.logo{
     
     padding-left: 10%;
}

.search{
    margin-left: 15%;
}

.footer{
    background-color: rgb(224, 233, 233);
    margin-left: 10%; 
    margin-right: 10%;
}

@media screen and (max-width: 991px) {
    section.footer {
      margin-left: 0px;
      margin-right: 0px;
    }
  }