/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Mar 13, 2022, 3:56:49 AM
    Author     : Eighth_Note
*/

.search{
    margin-left: 15%;
}

.footer{
    background-color: rgb(44, 58, 71);
    margin-left: 10%; 
    margin-right: 10%;
}


@media screen and (max-width: 991px) {
    section.footer {
        margin-left: 0px;
        margin-right: 0px;
    }
}

@media screen and (max-width: 1199px) {
    div.searchBar{
        padding-left: 0%;
    }

}


.site-footer{
    background-color: rgb(187, 184, 184);
}
