

.logo{
     
     padding-left: 10%;
}

.search{
    margin-left: 15%;
}

.footer{
    background-color: rgb(44, 58, 71);
    margin-left: 10%; 
    margin-right: 10%;
}

.searchBar{
  padding-left: 7%;
}
.account{
  margin-right: 5%;
}



@media screen and (max-width: 991px) {
    section.footer {
      margin-left: 0px;
      margin-right: 0px;
    }
  }

  @media screen and (max-width: 1199px) {
    div.searchBar{
      padding-left: 0%;
    }
    
  }

  .site-footer{
    background-color: rgb(187, 184, 184);
  }
  
  


