


.footer{
    background-color: rgb(44, 58, 71);
    margin-left: 10%; 
    margin-right: 10%;
}


@media screen and (max-width: 991px) {
    section.footer {
        margin-left: 0px;
        margin-right: 0px;
    }
}

@media screen and (max-width: 1199px) {
    div.searchBar{
        padding-left: 0%;
    }

}


.site-footer{
    background-color: rgb(187, 184, 184);
}




